.s-footer {
  padding-top: $m;
  border-top: solid $dark 1px;

  a {
    color: $lighter;
    text-decoration: none;
  }

  >.nav-wrap {
    position: relative;
    height: $xl;
    box-sizing: content-box;
    padding-bottom: $m;
    border-bottom: solid 1px $dark;
    margin-bottom: $m;

    >.nav-item {
      >a {
        display: inline-block;
        height: $xl;

        >img {
          display: inline-block;
          height: 100%;
        }

        >span {
          display: inline-flex;
          max-width: 20vw;
          height: $xl;
          align-items: center;
          margin-right: $s;
          margin-left: $s;
        }
      }

      &.previous {
        >a {
          float: left;

          >img {
            float: left;
          }

          >span {
            float: right;
            text-align: left;
          }
        }
      }

      &.next {
        >a {
          float: right;

          >img {
            float: right;
          }

          >span {
            float: right;
            text-align: right;
          }
        }
      }
    }
  }
}
