html,
body {
  padding: $s;
  background-color: $darker;
  color: $light;
  font-family: $font-sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin-bottom: $xl;
}

a {
  color: $accent;
  text-decoration: none;
}

input,
textarea {
  padding: $xxs $xs;
  border: none;
  margin: $xs 0;
  background-color: $dark;
  color: #fff;
  font-family: $font-sans-serif;
}

input[type="submit"],
input[type="reset"],
button {
  margin-right: $xs;
  margin-bottom: $xs;
  background-color: $accent;
  color: $darker;
}
