
/* Image Description
############################################################################ */

.image-description {
  padding: 0;
  margin: 0;

  dl.rootdata {
    margin-bottom: $xl;

    dt {
      position: relative;
      display: block;
      min-width: $s;
      padding-top: $s;
      color: $lighter;

      &::after {
        display: inline-block;
        padding-right: $xs;
        content: "";
      }

      button.btn.is-right {
        top: $s;
      }
    }

    dd {
      padding-bottom: $s;
      border-bottom: solid 1px $dark;
      margin-left: 0;
    }

    dt[data-target] {
      margin-bottom: $s;

      &.is-open {
        .btn {
          transform: rotate(180deg);
        }
      }
    }

    dt[data-target] + dd {
      overflow: hidden;
      max-height: 1000px;
      padding-bottom: 0;
    }

    // dt[data-target] + dd.is-open{
    // }
  }
}

/* Card Image with Caption
############################################################################ */

.card-image-with-caption {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  background-color: #000;

  >img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  >figcaption {
    padding: $m;
    padding-top: $xl;
    padding-bottom: $xs;
    border-top: solid $border-width-s $light;

    >.additional-info {
      display: none;
    }
  }

  .is-list-view & {
    display: grid;
    grid-template-columns: 300px 1fr;

    >figcaption {
      >.additional-info {
        display: block;

        /* stylelint-disable no-descending-specificity */
        >dt,
        dd,
        > dd p {
          display: inline;
          color: $light;
        }
        /* stylelint-enable no-descending-specificity */

        >dt {
          color: $lighter;
        }

        >dd::after {
          display: block;
          height: 0;
          content: "";
        }
      }
    }
  }
}

/* Image with Caption
############################################################################ */

.image-with-caption {
  >img {
    width: 100%;
  }
}

/* Image Form
############################################################################ */

.image-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  input[type="date"] {
    align-self: flex-start;
  }

  label {
    margin-bottom: $s;
  }

  &__error-message {
    color: $error;
    font-family: $font-sans-serif-bold;
  }
}
