// .page,
// .footer{

// }

.grid-container {
  display: grid;
  grid-column-gap: $m;
  grid-row-gap: $m;
  grid-template-columns: 1fr;
  transition: all 0.5s;

  &.is-card-view {
    @media only screen and (min-width: $vp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $vp-large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  & > li > a {
    display: flex;
    height: 100%;
  }
}

.grid-container-zweispalter {
  display: grid;
  grid-column-gap: $m;
  grid-row-gap: $m;
  grid-template-columns: 1fr;

  @media only screen and (min-width: $vp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}
